@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Button CSS */
.btn {
  background: #b82f42;
  background-image: -webkit-linear-gradient(top, #b82f42, #b82f42);
  background-image: -moz-linear-gradient(top, #b82f42, #b82f42);
  background-image: -ms-linear-gradient(top, #b82f42, #b82f42);
  background-image: -o-linear-gradient(top, #b82f42, #b82f42);
  background-image: linear-gradient(to bottom, #b82f42, #b82f42);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d4374e;
  background-image: -webkit-linear-gradient(top, #d4374e, #d4374e);
  background-image: -moz-linear-gradient(top, #d4374e, #d4374e);
  background-image: -ms-linear-gradient(top, #d4374e, #d4374e);
  background-image: -o-linear-gradient(top, #d4374e, #d4374e);
  background-image: linear-gradient(to bottom, #d4374e, #d4374e);
  text-decoration: none;
}


/*
body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}
*/

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 200%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 75%;
	text-align: justify;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 1240px;
	margin: 20px auto;
}
#header {
	height: 100px;
	padding: 0 15px;
}
#content {
	width: 293px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 571px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}
#footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	#header, #footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#content {
	background: #B2F0FF;
}
#sidebar {
	background: #fff555;
}
#middle {
	background-color: #E68080;
}
#header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, #header, #content, #middle, #sidebar, #footer {
	border: solid 1px #ccc;
}
